.form {
  font-size: 24px;
  color: lightgray;
  display: block;
  padding: 8px;

  &.portrait {
    font-size: 21px;
  }

  &.big, &.small {
    background: $component-bg-color-dark;
    border: 2px solid var(--accent);
    border-radius: 24px;

    .content {
      margin: 24px 48px;
    }
  }

  .content {
    margin: 16px;
    border-collapse: collapse;

    .row {
      height: 3em;

      >* {
        padding: 8px;
      }

      td:first-child {
        border-radius: 12px 0px 0px 12px;
      }

      td:last-child {
        text-align: center;
        text-align: -webkit-center;
        vertical-align: middle;
        border-radius: 0px 12px 12px 0px;
      }
    }

    .edit {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 2.25em;
      width: 2.25em;

      color: black;
      background: $interactable-bg-color-dark;
      border-radius: 40px;
      text-decoration: none;
    }

    input[type="color"] {
      height: 3.2em;
      width: 4.8em;
    }
  }

  .action_buttons {
    margin-top: 32px;

    &.fixed {
      padding: 12px;
      bottom: 0px;
      left: 0px;
      position: absolute;
      width: 100%;
    }

    button {
      margin: 4px;
      font-size: 24px;
      padding: 12px;
      min-width: 5em;
    }

    .confirm {
      background: var(--accent, $select-color-dark)
    }
  }
}
