$body-bg-color-dark: #242424;
$nav-bg-color-dark: #303030;
$select-color-dark: 8BE9FD;
$select-color-hover-dark: #8BE9FDCC;
$interactable-bg-color-dark: #666666;
$interactable-hover-color-dark: #555555;
$element-background-color-dark: #404040;
$element-hover-color-dark: #323232;
$border-color-dark: #FFFFFF80;

* {
    font-family: sans-serif;
}

nav {
    display: flex;
    box-shadow: 0px 0px 2px 0px;
    background: #303030;
    align-items: center;
    height: 52px;

    a {
        margin-left: 1em;
        margin-right: 1em;
        padding: 0px;

        &:hover .tooltip {
            transition-delay:0.6s;
            visibility: visible;
        }

        img {
            padding-top: 4px;
            margin: 0px;
        }
    }
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 14px;
    background-color: #181818;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;

    &.bottom {
        top: 52px;
        left: max(-50%, 0px);
    }
    &.top {
        top: -40px;
        left: -50%;
    }
}

body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    background: $body-bg-color-dark;
    height: 98vh;
}

main {
    flex: 1 0 auto;
}

button {
    background: #666666;

    &:hover {
        background: #555555;
    }
}

#HomeGrid {
    height: 100%;
    display: flex;
}

.treeview {
    height: 100%;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    border-right: 1px solid $border-color-dark;
    padding: 12px;
    min-width: 22rem;
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $interactable-bg-color-dark;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $select-color-dark;
    }

    .new-counter {
        border: none;
        border-radius: 0.5em;
        padding: 0.2em;
        margin: 0.3em 0.5em;
        font-size: 1.5rem;
        height: 1.8em;
    }

    li {
        display: grid;
    }

    div {
        color: white;
        font-size: 1.4rem;
        padding: 0px;
        border-radius: 0.6em;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    & > span {
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .row {
        cursor: default;
        display: flex;
        min-width: 10em;
        padding: 0px;
        margin-top: 2px;
        margin-bottom: 2px;
        min-height: 1.8em;
    }

    .row-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button {
            margin: 2px;
            height: 36px;
            width: 36px;
            font-size: 1.4rem;
            border-radius: 16px;
            border: 0px;
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .selectable {
        &:hover {
            background: #333333;
        }
    }

    .selected {
        * { 
            color: black;
        }

        &:hover {
            color: black;
            opacity: 80%;
            // background: $select-color-hover-dark;
        }
    }

    .caret {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: .5em;
        padding-left: .75em;
    }

    .caret::before {
        font-size: 1.2rem;
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

    .caret-down::before {
        transform: rotate(90deg);
    }

    .nested {
        display: none;
        .caret {
            padding-left: 0em;
        }
    }

    .active {
        display: block;
    }

    .indent {
        width: 40px;
    }
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    display: block;
}

#InfoBox {
    padding: 24px;
    font-size: 36px;
    color: white;
    white-space: nowrap;

    p {
        padding: 0px;
        margin: 0px;
    }

    .rowbox {
        user-select: none;
        display: flex;
        align-items: center;
        background: $element-background-color-dark;

        border-radius: 16px;
        margin: 8px;
    }

    .title {
        font-size: 0.75em;
        padding: 0.5em;
        padding-left: 1em;
    }

    .info {
        display: flex;
        justify-content: center;
        min-width: 3.2em;
        min-height: 2em;
        padding: 0.75em;
        flex-flow: wrap;
        align-content: center;
    }

    .longtime {
        width: 320px;
    }
}

form {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-form {
    display: flex;
    flex-flow: column;
    width: 25em;
    height: 100%;
    justify-content: center;

    h1 {
        color: #6272A4;
    }

    label {
        display: block;
        visibility: hidden;
    }

    input[type="text"], input[type="password"] {
        font-size: 1.3em;
        min-width: calc(100% - 16px);
        height: 3rem;
        padding-left: 16px;

        border-radius: 3em;
        border: none;
        outline: none;
        background: $interactable-hover-color-dark;
    }

    input:focus-visible {
        background: $interactable-bg-color-dark;
    }

    .action-buttons {
        display: flex;
        justify-content: right;
        margin-top: 24px;

        > *:not(:first-child) {
            margin-left: 16px;
        }

        .action-buttons-el {
            display: flex;
            align-items: center;
            background: $interactable-bg-color-dark;
            color: black;
            height: 3.5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.2rem;

            a {
                margin-right: 16px;
                color: #8494B6;
            }
        }

        input[type="checkbox"] {
            appearance: none;
            border: 2px solid white;
            background: white;
            height: 1.6rem;
            width: 1.6rem;
            font-size: 1.6em;
            border-radius: 4px;
            margin: 16px;
        }

        input[type="checkbox"]:checked {
            background: #6272A4;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 3em;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }

    }
}

.notification-box {
    position: fixed;
    top: 64px;
    right: 16px;
    margin: 0px;
    padding: 24px;
    border: 2px solid red;
    border-radius: 16px;
    background: #444444;
}


.remove-underline {
    text-decoration: none;
}

.page {
    color: #AAAADD;
}

#user-icon {
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-right: 12px;
    border-radius: 48px;
    user-select: none;

    &:hover {
        background: $interactable-hover-color-dark;
    }
}

#account-overlay {
    position: fixed;
    right: 0px;
    top: 52px;
    z-index: 1;

    margin: 16px;
    padding: 16px;
    width: 16rem;

    border-radius: 12px;
    background: $element-background-color-dark;

    .overlay-button {
        font-size: 24px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px;
        background: none;
        color: white;
        border: none;
        border-radius: 12px;

        &:hover {
            background: $element-hover-color-dark;
        }

        i {
            padding: 4px;
        }

        span {
            margin-left: 16px;
        }
    }
}
