$body-bg-color-dark: #242424;
$nav-bg-color-dark: #303030;
$select-color-dark: 8BE9FD;
$select-color-hover-dark: #8BE9FDCC;
$interactable-bg-color-dark: #666666;
$interactable-hover-color-dark: #555555;
$element-background-color-dark: #404040;
$element-hover-color-dark: #323232;
$border-color-dark: #FFFFFF80;

* {
    font-family: Roboto, Arial, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

nav {
    display: flex;
    box-shadow: 0px 0px 2px 0px;
    background: #303030;
    align-items: center;
    height: 52px;

    a {
        margin-left: 1em;
        margin-right: 1em;
        padding: 0px;

        &:hover .tooltip {
            transition-delay:0.6s;
            visibility: visible;
        }

        img {
            padding-top: 4px;
            margin: 0px;
        }
    }

    #toggle-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        background: none;
        color: white;
        border: none;
        border-radius: 2em;
        height: 42px;
        width: 42px;
        margin-left: 8px;
        cursor: pointer;

        &:hover {
            background: #AAAAAA40;
        }
    }
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 14px;
    background-color: #181818;
    border-radius: 8px;
    padding: 10px 25px 10px 25px;

    &.bottom {
        top: 52px;
        left: max(-50%, 0px);
    }
    &.top {
        top: -40px;
        left: -50%;
    }
}

body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    background: $body-bg-color-dark;
    height: 98vh;
}

main {
    flex: 1 0 auto;
}

button {
    color: black;
    background: #666666;

    &:hover {
        background: #555555;
    }
}

#HomeGrid {
    height: calc(100vh - 52px);
    display: flex;
    overflow-y: auto;
}

.sidebar {
    position: relative;
    display: flex;
    flex-flow: column;
    border-right: 1px solid $border-color-dark;
    scrollbar-width: thin;
    scroll-snap-align: start;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $interactable-bg-color-dark;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $select-color-dark;
    }

    .new-counter {
        border: none;
        border-radius: 0.5em;
        margin: 0em 0.75em 0.75em 0.75em;
        font-size: 1.5rem;
        min-height: 1.8em;
    }

    .treeview {
        padding: 8px;
        padding-top: 12px;

        li {
            display: grid;
        }

        hr {
            border: 1px solid $interactable-bg-color-dark;
            margin: 6px;
        }

        .selected {
            color: black !important;

            &:hover {
                color: black;
                // opacity: 0.85;
                // background: $select-color-hover-dark;
            }
        }

        ul {
            padding: 0px;
            margin: 0px;
        }

        & > span {
            margin: 0px;
            padding: 0px;
            display: flex;
        }

        .row {
            color: white;
            font-size: 1.4rem;
            border-radius: 0.75em;
            cursor: default;
            display: flex;
            min-width: 10em;
            padding: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            min-height: 1.6em;
        }

        .row-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            button {
                height: 36px;
                width: 36px;
                font-size: 1.4rem;
                border-radius: 16px;
                border: 0px;
                align-content: center;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }

        .selectable {
            &:hover {
                background: #333333;
            }
        }

        .caret {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-right: .4em;
            padding-left: .6em;
        }

        .caret::before {
            min-width: 10px;
            padding: 2px;
            font-size: 1.4rem;
            cursor: pointer;
            user-select: none; /* Prevent text selection */
        }

        .caret-down::before {
            transform: rotate(90deg);
            translate: 2px -2px;
        }

        .nested {
            display: none;
            .caret {
                padding-left: 0em;
            }
        }

        .active {
            display: block;
        }

        .indent {
            width: 40px;
        }
    }
}

#about {
    font-size: 20px;
    &.big {
        padding: 12px;
    }

    button {
        margin-top: 6rem;
        margin-left: auto;
    }

    .content {
        display: grid;
        grid-gap: 8px;
        align-items: center;
        justify-items: left;
    }

    label, a {
        margin: 0px;
        padding: 12px;
        border-radius: 8px;
        background: #666666;

        &.title{
            width: 4em;
            grid-column: 1;
        }

        &.info {
            width: 6em;
            grid-column: 2;
        }

        &.button {
            border-radius: 48px;
            grid-column: 2;
        }
    }

    &.big {
        .title {
            width: 8em;
        }
        
        .info {
            width: 12em;
        }
    }
}

.overlay {
    position: fixed;
    background: $element-background-color-dark;
    padding: 8px;
    border-radius: 12px;
    color: white;

    .context-menu-row {
        color: white;
        cursor: default;
        padding: 12px;
        min-width: 10rem;
        border-radius: 8px;

        &:hover {
            background: $element-hover-color-dark;
        }
    }

    button {
        font-size: 3rem;
        padding: 12px;
        min-width: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

ul {
    padding-left: 0px;
    margin: 0px;
}

#infobox {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    padding: 8px;
    font-size: 36px;
    color: white;
    white-space: nowrap;
    width: 100%;

    p {
        padding: 0px;
        margin: 0px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        .rowbox {
            user-select: none;
            display: flex;
            align-items: center;
            background: $element-background-color-dark;
            flex-grow: 1;
            min-width: 6em;

            border-radius: 16px;
            margin: 8px;

            &.rowexpand {
                flex-grow: 0;
                min-width: 95%;
            }

            &.progress {
                min-width: 95%;
            }

            .info {
                display: flex;
                justify-content: center;
                // min-width: 3.2em;
                min-height: 2em;
                padding: 0.75em;
                flex-flow: wrap;
                align-content: center;
                margin: auto;
            }
            
            .time {
                min-width: 4em;
            }

            .count_minus {
                width: 15%;
                height: 80%;
                background: none;
                border: none;
                color: white;
                font-size: 32px;
                border-right: 1px solid white;
            }
        }

        .title {
            font-size: 0.75em;
            padding: 0.5em;
            padding-left: 1em;
        }

        .progress-bar {
            min-width: 12rem;
            flex-grow: 1;

            .through {
                border-radius: 24px;
            }

            .progress {
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
            }
        }
    }
}

form {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: min(100%, 25em);
    padding: 8px;

    h1 {
        margin-top: 0px;
        padding: 0px;
        color: #6272A4;
    }

    label {
        display: none;
    }

    input[type="text"], input[type="password"] {
        font-size: 1.3em;
        height: 3rem;
        margin: 8px 0px;
        padding-left: 16px;

        border-radius: 3em;
        border: none;
        outline: none;
        background: $interactable-hover-color-dark;
    }

    input:focus-visible {
        background: $interactable-bg-color-dark;
    }

    .action-buttons {
        display: flex;
        justify-content: right;
        margin-top: 24px;

        > *:not(:first-child) {
            margin-left: 16px;
        }

        .fa-solid {
            font-size: 1.4rem;
        }

        .action-buttons-el {
            display: flex;
            align-items: center;
            background: $interactable-bg-color-dark;
            color: black;
            max-height: 3.5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.2rem;
            margin-right: auto;

            label {
                color: #dddddd;
                padding: 0px 16px 0px 8px;
                display: block;
            }

            a {
                display: grid;
                padding: 0px 24px 0px 12px;
                color: #8494B6;
            }

            b {
                margin: 0px;
                font-size: 1rem;
            }
        }

        input[type="checkbox"] {
            appearance: none;
            border: 2px solid white;
            background: white;
            height: 1.6rem;
            width: 1.6rem;
            font-size: 1.6em;
            border-radius: 4px;
            margin-left: 16px;
        }

        input[type="checkbox"]:checked {
            background: #6272A4;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 3em;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}

.notification-box {
    &:open {
        display: block;
    }
    outline: none;
    position: fixed;
    top: 64px;
    right: 16px;
    left: auto;
    margin: 0px;
    padding: 24px;
    border-radius: 16px;
    background: #444444;
    color: #CCC;
}


.remove-underline {
    text-decoration: none;
}

.page {
    color: #AAAADD;
}

#user-icon {
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-right: 12px;
    border-radius: 48px;
    user-select: none;

    &:hover {
        opacity: 85%;
    }
}

#account-overlay {
    position: fixed;
    right: 0px;
    top: 52px;
    z-index: 1;

    margin: 16px;
    padding: 16px;
    width: 16rem;

    border-radius: 12px;
    background: $element-background-color-dark;

    .fa-solid {
        font-size: 2rem;
    }

    .overlay-button {
        font-size: 24px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px;
        background: none;
        color: white;
        border: none;
        border-radius: 12px;

        &:hover {
            background: $element-hover-color-dark;
        }

        i {
            padding: 4px;
        }

        span {
            margin-left: 16px;
        }
    }

    hr {
        opacity: 40%;
    }

    a {
        display: block;
        margin: 0px;
        width: 100%;
    }
}

.editing-form {
    display: flex;
    flex-flow: column;
    margin: auto;
    font-size: 1.3rem;
    background: $element-hover-color-dark;
    border-radius: 16px;

    .content {
        align-items: center;
        display: grid;
        padding: 8px;
        grid-gap: 12px;

        a.edit {
            margin-left: 4px;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 3rem;
            border-radius: 40px;
            background: $interactable-bg-color-dark;
        }

        .edit:not(.switch, .slider) {
            grid-column: 2;
        }

        input[type="color"] {
            height: 3rem;
            min-width: 4rem;
        }
    }

    h1 {
        color: #6272A4;
    }

    label:not(.switch) {
        display: flex;
        align-items: center;
        background: $interactable-hover-color-dark;
        border-radius: 12px;
        padding: 12px 20px;
    }

    input[type="text"], input[type="number"], select {
        font-size: 1.3rem;
        height: 3rem;
        padding-left: 12px;
        min-width: 0px;
        
        border-radius: 12px;
        border: none;
        outline: none;
        background: $interactable-hover-color-dark;

    }

    input[type="checkbox"] {
        appearance: none;
        border: 2px solid white;
        background: white;
        height: 1.6rem;
        width: 1.6rem;
        font-size: 1.6em;
        border-radius: 4px;
        margin-left: 16px;
    }

    input[type="checkbox"]:checked {
        background: #6272A4;
    }

    input:focus-visible {
        background: $interactable-bg-color-dark;
    }

    input:disabled {
        color: unset;
        opacity: .75;
    }

    &.big {
        padding: 16px;

        label:not(.switch) {
            min-width: 12em;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: right;
        margin-top: auto;
        padding: 8px;
        padding-top: 64px;

        > *:not(:first-child) {
            margin-left: 16px;
        }

        .action-buttons-el {
            display: flex;
            align-items: center;
            background: $interactable-bg-color-dark;
            color: black;
            max-height: 3.5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.2rem;
            margin-right: auto;

            a {
                display: grid;
                padding: 0px 24px 0px 12px;
                color: #8494B6;
            }

            b {
                margin: 0px;
                font-size: 1rem;
            }
        }

        input[type="checkbox"] {
            appearance: none;
            border: 2px solid white;
            background: white;
            height: 1.6rem;
            width: 1.6rem;
            font-size: 1.6em;
            border-radius: 4px;
            margin-left: 16px;
        }

        input[type="checkbox"]:checked {
            background: #6272A4;
        }

        button {
            font-size: 3rem;
            padding: 12px;
            min-width: 6em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    max-width: 60px;
    height: 34px;
    margin: auto 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@keyframes slide {
    100% { left: 0; }
}

#sort-search {
    padding: 8px 8px 0px 8px;
    height: 2.4rem;
    display: flex;

    #search {
        flex-grow: 1;
        padding-left: 16px;
        margin-right: 16px;

        border-radius: 3em;
        border: none;
        outline: none;
        background: $interactable-bg-color-dark;
    }

    #search-button {
        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.1rem;
        border-radius: 2.8rem;
        border: 0px;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #search-input {
        outline: none;
        border: none;
        width: calc(100% - 16px);
        font-size: 1.1em;
        height: 2.25rem;
        background: transparent;
    }

    #sort {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: auto;
        border-radius: 24px;
        background: $interactable-bg-color-dark;
        padding: 0px 12px 0px 6px;

        &:hover {
            * {
                background: $interactable-hover-color-dark;
            }
            background: $interactable-hover-color-dark;
        }

        button {
            height: 28px;
            width: 28px;
            font-size: 1.2rem;
            border-radius: 16px;
            border: 0px;
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            background: none;
        }

        select {
            font-size: 1.0rem;
            border-radius: 100px;
            min-width: 0px;
            height: 100%;
            
            border-radius: 12px;
            border: none;
            outline: none;
            background: $interactable-bg-color-dark;
        }
    }
}
