$body-bg-color-dark: #242424;
$select-color-dark: #8BE9FD;
$select-color-hover-dark: #8BE9FDCC;
$interactable-bg-color-dark: #444444;
$interactable-hover-color-dark: #333333;
$border-color-dark: #FFFFFF80;

* {
    font-family: sans-serif;
}

body {
    margin: 0px;
    background: $body-bg-color-dark;
}
button {
    background: #666666;

    &:hover {
        background: #555555;
    }
}

#HomeGrid {
    display: flex;
}

.treeview {
    height: 90vh;
    min-width: 320px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    border-right: 1px solid $border-color-dark;
    padding: 12px;

    .new-counter {
        border: none;
        border-radius: 0.5em;
        padding: 0.2em;
        margin: 0.3em 0.5em;
        font-size: 1.5rem;
        height: 1.8em;
    }

    li {
        width: 100%;
        display: grid;
    }

    div {
        color: white;
        font-size: 1.5rem;
        padding: 2px;
        border-radius: 0.6em;
    }

    & > span {
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .row {
        cursor: default;
        display: flex;
        margin: 2px;
        min-height: 1.6em;
    }

    .row-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button {
            font-size: 1.5rem;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 1rem;
            border: 0px;
        }
    }

    .selectable {
        &:hover {
            color: white;
            background: $interactable-hover-color-dark;
        }
    }

    .selected {
        background: $select-color-dark;

        * { 
            color: black;
        }

        &:hover {
            color: black;
            background: $select-color-hover-dark;
        }
    }

    .caret {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: .5em;
        padding-left: .75em;
    }

    .caret::before {
        font-size: 1.2rem;
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }

    .caret-down::before {
        transform: rotate(90deg);
    }

    .nested {
        display: none;
        .caret {
            padding-left: 0em;
        }
    }

    .active {
        display: block;
    }

    .indent {
        width: 40px;
    }
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    display: block;
}

#InfoBox {
    padding: 24px;
    font-size: 36px;
    color: white;
    white-space: nowrap;

    p {
        padding: 0px;
        margin: 0px;
    }

    .rowbox {
        display: flex;
        align-items: center;
        background: $interactable-bg-color-dark;

        border-radius: 16px;
        margin: 8px;
    }

    .title {
        font-size: 0.75em;
        padding: 0.5em;
        padding-left: 1em;
    }

    .info {
        display: flex;
        justify-content: center;
        min-width: 3.2em;
        min-height: 2em;
        padding: 0.75em;
        flex-flow: wrap;
        align-content: center;
    }

    .longtime {
        width: 320px;
    }
}
