.button {
  background: $interactable-bg-color-dark;
  border-radius: 8px;
  font-size: 24px;

  >div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.default {
    >div {
      padding: 8px;
    }
  }

  &.big {
    >div {
      padding: 16px;
    }
  }

  &.small {
    >div {
      padding: 4px;
    }
  }

  &.no-rounded {
    border-radius: 0px;
  }

  &.full-rounded {
    border-radius: 10000px;
  }
}
