.menu {
  background: $element-bg-color-dark;
  border: 2px solid var(--accent);
  border-radius: 12px;
  padding: 12px;

  display: grid;
  grid-gap: 8px;

  a {
    text-decoration: none;
  }
}

.entry {
  display: block;
  min-width: 14rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;

  background: transparent;

  .label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px;

    >*:not(:first-child) {
      padding-left: 12px;
    }
  }
}
