// TODO: make sure width and height get standardized to 24px
.icon {
  mask-repeat: no-repeat;
  mask-size: 100%;

  min-height: 24px;
  min-width: 24px;

  background: white;
}

.cross {
  mask-image: url("/icons/tallyweb-cross.svg");
}

.edit {
  mask-image: url("/icons/tallyweb-edit.svg");
}

.sidebar-left-open {
  min-height: 32px;
  min-width: 32px;
  mask-image: url("/icons/svgrepo-sidebar-left-open.svg");
}

.sidebar-left-closed {
  min-height: 32px;
  min-width: 32px;
  mask-image: url("/icons/svgrepo-sidebar-left-closed.svg");
}

.trash-can {
  mask-image: url("/icons/svgrepo-trash.svg");
}

.caret-right {
  mask-image: url("/icons/svgrepo-caret-right.svg");
}

.arrow_head_down {
  mask-image: url("/icons/tallyweb-arrow-head.svg");
}

.favicon {
  min-height: 40px;
  min-width: 40px;
  content: url("/icons/tallyweb-favicon.svg");
  background: transparent !important;
}

.search {
  mask-image: url("/icons/tallyweb-search.svg");
}

.sort {
  mask-image: url("/icons/tallyweb-sort.svg");
}

.arrow {
  min-height: 20px;
  min-width: 20px;
  mask-image: url("/icons/tallyweb-arrow.svg");
}

.settings {
  mask-image: url("/icons/svgrepo-settings.svg");
}

.ellipsis {
  mask-image: url("/icons/tallyweb-ellipsis.svg");
}

.log-out {
  mask-image: url("/icons/tallyweb-log-out.svg");
}

.log-in {
  mask-image: url("/icons/tallyweb-log-in.svg");
}

.account {
  mask-image: url("/icons/tallyweb-account.svg");
}

.add-account {
  mask-image: url("/icons/tallyweb-add-account.svg");
}

.arrow-right {
  mask-image: url("/icons/tallyweb-arrow.svg");
}

.arrow-left {
  transform: rotate(180deg);
  mask-image: url("/icons/tallyweb-arrow.svg");
}

.arrow-up {
  transform: rotate(-90deg);
  mask-image: url("/icons/tallyweb-arrow.svg");
}

.arrow-down {
  transform: rotate(90deg);
  mask-image: url("/icons/tallyweb-arrow.svg");
}

.plus {
  mask-image: url("/icons/tallyweb-plus.svg");
}
