.icon {
  mask-repeat: no-repeat;
  mask-size: 100%;

  background: white;
}

.cross {
  height: 28px;
  width: 28px;
  mask-image: url("/icons/tallyweb-cross.svg");
}

.edit {
  height: 24px;
  width: 24px;
  mask-image: url("/icons/tallyweb-edit.svg");
}

.sidebar-left-open {
  height: 32px;
  width: 32px;
  mask-image: url("/icons/svgrepo-sidebar-left-open.svg");
}

.sidebar-left-closed {
  height: 32px;
  width: 32px;
  mask-image: url("/icons/svgrepo-sidebar-left-closed.svg");
}

.trash-can {
  height: 24px;
  width: 24px;
  mask-image: url("/icons/svgrepo-trash.svg");
}

.caret-right {
  height: 24px;
  width: 24px;
  mask-image: url("/icons/svgrepo-caret-right.svg");
}

.arrow_head_down {
  height: 24px;
  width: 24px;
  mask-image: url("/icons/tallyweb-arrow-head.svg");
}

.favicon {
  height: 40px;
  width: 40px;
  content: url("/icons/tallyweb-favicon.svg");
  background: transparent !important;
}

.search {
  height: 24px;
  width: 24px;
  mask-image: url("/icons/tallyweb-search.svg");
}
