.button {
  background: $interactable-bg-color-dark;
  font-size: 21px;
  border-radius: 8px;
  outline: none;

  >div {
    padding: 8px 16px;
    /*  TODO: add blur for normal text buttons */
    /* box-shadow: 0 0 6px -2px black; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.darken:hover > div,
  &.darken:focus-visible > div {
    background: rgba(black, 0.15);
  }

  &.lighten:hover > div,
  &.lighten:focus-visible > div {
    background: rgba(white, 0.08);
  }
}
