.list {
  padding: 12px;

  * {
    color: white;
    font-size: 1.5rem;
  }

  & {
    margin: 0px;
    padding: 12px;
    padding-top: 24px;
  }

  ul {
    padding: 0px;
    padding-top: 8px;
  }

  & li {
    margin: 0px;
    list-style-type: none;
  }

  .row {
    display: flex;
    flex-direction: column;
    user-select: none;

    &:global(.selected)>div:first-child {
      background: var(--accent);

      * {
        color: black;
      }
    }

    &:not(:global(.selected)) {
      &>div:first-child {
        &:hover:not(:has(button:hover)) {
          background: rgba(white, 0.05);
        }
      }
    }

    a {
        text-decoration: none;
        margin: 2px;
    }

    >div:first-child {
      display: flex;
      align-items: center;
      flex-grow: 1;
      height: 40px;

      border-radius: 2rem;

      cursor: default;
      text-decoration: none;

      span {
        display: block;
        width: 100%;
        padding: 6px;
      }

      >button {
        margin: 2px;

        >div {
          border-radius: 100%;
        }
      }

      img {
        transition: transform 0.28s;
      }
    }
  }

  hr {
    margin: 8px;
    opacity: 25%;
  }

  .caret {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
    height: 36px;
    width: 36px;

    cursor: pointer;
  }
}
