$body-background: #1D1D1D;
$panel-background: #242424;
$nav-bg-color-dark: #303030;
$select-color-dark: #8BE9FD;
$select-color-hover-dark: #8BE9FDCC;
$interactable-bg-color-dark: #666666;
$interactable-hover-color-dark: #555555;
$element-bg-color-dark: #444;
$element-hover-color-dark: #323232;
$component-bg-color-dark: #2C2C2C;
$border-color-dark: #FFFFFF80;

:root {
  --element-bg: #AAAAAA;
  --element-focus: #999999;
  --text-color: black;
  --label-color: #CCCCCC;

  @media (prefers-color-scheme: dark) {
    --element-bg: #444444;
    --element-focus: #3A3A3A;
    --text-color: white;
    --label-color: lightgray;
  }
}

* {
  font-family: Sans-Serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  background: $body-background;
}

button {
  background: unset;
  border: none;
  padding: 0px;
  cursor: pointer;

  &:global(.icon) {
    height: 40px;
    width: 40px;

    >div,
    >a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }

  &:global(.hover-darken) {
    outline: none;

    &:hover>div, &:hover>a {
      background: rgba(black, 0.136)
    }

    &:focus-visible>div,
    &:focus-visible>a {
      background: rgba(black, 0.136)
    }
  }

  &:global(.hover-lighten) {
    outline: none;

    &:hover>div, &:hover>a {
      background: rgba(white, 0.05)
    }

    &:focus-visible>div,
    &:focus-visible>a {
      background: rgba(white, 0.05)
    }
  }
}

div {
  padding: 0px;
  margin: 0px;
}

overlay-element {
  >* {
    position: fixed;
  }
}

a:global(.no-underline) {
  text-decoration: none;
  color: inherit;
}

:global(.transition-width) {
  transition: width 0.32s, transform 0.32s;
}

nav {
  height: 56px;
}

img:global(.hidden) {
  display: none;
}

input:not([type=color], [type=checkbox]) {
  background: unset;
  border: unset;
  font-size: unset;
  padding: unset;
  all: unset;
  font-size: 21px;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;

  appearance: textfield;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 8px;

  background: $body-background;

  >:first-child {
    margin-left: 8px;
  }
}

tool-tip {
  color: white;
  background:var(--element-bg);
  border:2px solid var(--accent);
  border-radius:4px;
}
