.sidebar {
  .sidebar-navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;

    padding: 8px;
    padding-bottom: 16px;
    background: $body-background;

    >div {
      display: flex;
      gap: 8px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 4px;
  }

  .search-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding: 0px 16px;
    background: $body-background;
    position: relative;
    z-index: 19;

    transition: max-height 0.32s ease-out, padding 0.28s ease-out; 

    >div {
      width: 100%;
      padding: 12px 0px;

      input {
        font-size: 21px;
        width: 100%;
      }
    }
  }

  .sort-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 16px;
    background: $body-background;

    transition: max-height 0.32s ease-out, padding 0.28s ease-out; 

    &.shown {
      padding: 16px;
    }

    select-view {
      z-index: 11;
    }

    select-options {
      z-index: 10;
    }

    >div {
      display: flex;
      align-items: center;
      width: 100%;

      >*:first-child {
        margin-right: 12px;
      }
    }

    >div>button>div {
      width: 44px;
      height: 44px;

      >div {
        transition: transform 0.32s;
      }
    }
  }

  button {
    border-radius: 12px;
  }

  .add-phase {
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: black;
  }
}
