.infobox {
  align-items: flex-start;
  padding: 8px;
  font-size: 36px;
  color: white;
  white-space: nowrap;
  max-width: 1200px;
  margin: 0px auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    container-type: inline-size;

    margin-left: auto;
    margin-right: auto;

    .rowbox {
      user-select: none;
      display: flex;
      align-items: center;
      background: $element-bg-color-dark;
      flex-grow: 1;
      min-width: 9em;
      min-height: 3.6em;
      position: relative;

      border-radius: 16px;
      margin: 8px;

      &.expand {
        min-width: 95%;
      }

      .info {
        font-family: Roboto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        min-height: 2em;
        padding: 0.75em;
        flex-flow: wrap;
        align-content: center;
        margin: auto;
      }

      .time {
        min-width: 4em;
      }

      .count_minus {
        border-radius: 0;
        width: 15%;
        height: 80%;
        background: none;
        border: none;
        color: white;
        font-size: 32px;
        border-left: 1px solid white;
      }
    }

    .title {
      font-size: 0.75em;
      padding: 0.5em;
      padding-left: 1em;
    }

    @container (max-width: 900px) {
      .title {
        font-size: 18px;
        position: absolute;

        top: 4px;
        left: 4px;
      }
    }

    progress-bar {
      min-width: 12rem;
      flex-grow: 1;

      >div {
        color: #BBB;
      }

      through-bar {
        padding: 2px;
        border-radius: 24px;
        background: #DDD; 

        >* {
          border-radius: 24px;
          overflow: hidden;
        }

        color-bar {
          height: 16px;
        }
      }

      :global(.progress) {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
      }
    }
  }

  .header {
    width: 100%;
    padding: 8px;
    font-size: 28px;

    span {
      margin-left: 12px;
      flex-grow: 1;
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;

      border-radius: 12px;
      background: $element-bg-color-dark;

      button {
        width: 40px;
        height: 40px;
        background: transparent;

        a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    
    .actions {
      display: flex;

      >button:not(:last-child) {
        margin: 0px 8px;
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .entry {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;

    label {
      display: flex;
      align-items: center;
      height: 100%;
      flex-grow: 1;
    }
  }
}
