.page {
  height: 100%;
  display: flex;
  flex-direction: row;

  container-type: inline-size;
  container-name: wide;

  .body {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .content {
    display: flex;
    flex: 1;
    overflow-y: auto;

    >div {
      flex: 1;
      overflow-y: auto;
      background: var(--content-background);
    }
  }
}

@container wide (min-width: 800px) {
  .content {
    padding-right: 12px;
    padding-bottom: 12px;

    &:first-child {
      padding-top: 12px;
    }

    >div {
      border: 2px solid var(--accent);
      border-radius: 12px;
      padding: 24px;
    }

    &.full_width {
      padding: 0px;

      >div {
        border: unset;
        border-radius: 0px;
      }
    }
  }
}
