.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;

  .body {
    display: grid;
    justify-content: center;
    align-content: start;
    align-items: center;
    gap: 32px;
    flex-grow: 1;
    padding: 8px;
    padding-top: 16px;

    @container (min-width: 600px) {
      padding: 48px;
    }

    @container (max-width: 600px) {
      justify-content: start;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      .form-label {
        padding-top: 12px;
      }
    }

    font-size: 24px;
    color: lightgray;
  }
}

.input {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-color);
  background: $element-bg-color-dark;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 12px;

  &:has(input:focus) {
    border: 2px solid var(--accent);
  }

  >input {
    font-size: 24px;
    width: 100%;
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

.color-input {
  padding: 4px;

  input {
    height: 2.8rem;
    width: 4.5rem;
  }
}

.select {
  background: none;
  font-size: 24px;
  width: 100%;
  background: $element-bg-color-dark;
  border-radius: 12px;
  color: var(--text-color);

  select {
    border-radius: 12px;
    height: 48px;
    width: 100%;
    font-size: 24px;
    background: $element-bg-color-dark;
    border: none;
    padding: 8px;
  }

  option {
    background: $element-bg-color-dark;
  }

  custom-select {
    width: 100%;

    >div {
      padding: 2px;
      position: relative;
    }

    button {
      margin: 2px;

      >div {
        padding: 8px;
      }
    }

    select-view {
      align-items: center;
      height: 44px;
      padding-left: 16px;
      position: relative;
      z-index: 2;
      border-radius: 12px;
      background: $element-bg-color-dark;
    }

    select-options {
      padding: 8px;
      left: 0px;
      top: 0px;
      position: absolute;
      z-index: 1;
      background: $element-bg-color-dark;
      width: 100%;
      border-radius: 12px;
      padding-top: 48px;
      border: 2px solid var(--accent);
      overflow-y: auto;

      select-option {
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;

        &[selected] {
          background: var(--accent);
          color: black;

          &:hover {
            background: var(--accent);
          }
        }

        &:hover {
          background: $element-hover-color-dark;
        }
      }
    }

    button>div>div {
      transition: transform 0.32s;
    }
  }
}

.action-buttons {
  display: flex;
  position: sticky;
  bottom: 16px;
  justify-content: space-between;
  padding-top: 16px;
  background: $panel-background;

  &.fixed {
    padding: 12px;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  button {
    margin: 4px;
    font-size: 24px;
    min-width: 5em;
    background: $interactable-bg-color-dark;
    border-radius: 12px;

    >div {
      padding: 12px;
    }
  }

  .confirm {
    background: var(--accent, $select-color-dark);
  }
}

.header {
  display: flex;
  color: white;

  font-size: 32px;
  padding: 8px 16px;
  margin: 8px;

  border-radius: 12px;
  background: $element-bg-color-dark;

  justify-content: space-between;
  align-items: center;

  .actions {
    &>*:not(:last-child) {
      margin-right: 8px;
    }
  }
}
